@model StudentManagementSystem.Models.Professor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Acasa";
}

<h5>Bine ai venit, @Model.Name!</h5>

<h3>Schimba formula de calcul a mediei</h3>
<a class="btn btn-primary" asp-controller="Professor" asp-action="GradeCalculationFormula"
   asp-route-disciplineId="@Model.DisciplineId">Schimba formula</a>