@model StudentManagementSystem.Models.Homework

@{
    ViewData["Title"] = "Edit Homework";
}

<h2>Edit Homework</h2>

<form asp-action="EditHomework" method="post">

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content">@Model.Content</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Salveaza</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
