@model List<StudentManagementSystem.Models.Homework>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Teme";
}


<h2>Teme</h2>

@if (!Model.Any())
{
    <p>Nu ai nicio tema =^)</p>
}
else
{
    <th>
        <ul>
            @foreach (var homework in Model)
            {
                
                <li><a asp-controller="Student" asp-action="EditHomework" asp-route-id="@homework.Id">@homework.Title</a> - @homework.Description
                @if(homework is StudentManagementSystem.Models.Project)
                {
                    <a asp-controller="Student" asp-action="UploadProjectFiles" asp-route-projectID="@homework.Id" class="btn btn-primary">Incarca proiectul</a>
                }
                </li>
            }
        </ul>
    </th>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}