@model List<StudentManagementSystem.Models.Homework>

<h2>My Homeworks</h2>

@if (!Model.Any())
{
    <p>No homeworks found.</p>
}
else
{
    <ul>
        @foreach (var homework in Model)
        {
            <li>@homework.Title - @homework.Description</li>
        }
    </ul>
}