<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Student Management System</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Student" asp-action="Index">Acasa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Student" asp-action="Homework">Teme</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Student" asp-action="ViewGrades">Medii</a>
            </li>
            <li>
                <a class="nav-link" asp-controller="Student" asp-action="Leaderboard">Clasament</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Iesire</a>
            </li>
        </ul>
    </div>
</nav>